In [86]:
import os
import pyodbc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3 as sql
% matplotlib inline

In [87]:
db = sql.connect('Revenue_Aid_2016.csv')

In [88]:
df1 = pd.read_csv("Revenue_Aid_2016.csv")

In [89]:
df1

,School ID,Survey Year,Institution Name,State CD,Classification Name,Sanction Name,Total Men's Team Revenue,Total Women's Team Revenue,Not Allocated by Gender/Sport Revenue,Grand Total Revenue,Men's Team Athletic Student Aid,Women's Team Athletic Student Aid,Male Undergraduates,Female Undergraduates,Total Undergraduates
0,1,2016,University of Louisville,KY,NCAA Division I-FBS,NCAA,87066830,1723173,33655301,122445304,6249734,5907156,5925,6400,12325
1,2,2016,University of Kentucky,KY,NCAA Division I-FBS,NCAA,65217902,1626718,55447093,122307014,7119237,4874527,9420,11352,20772
2,3,2016,Indiana University-Bloomington,IN,NCAA Division I-FBS,NCAA,62767976,756377,41294985,104819338,8487821,7039065,16085,15799,31884

In [90]:
df1.columns = df1.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')','')

In [91]:
df1

,school_id,survey_year,institution_name,state_cd,classification_name,sanction_name,total_men's_team_revenue,total_women's_team_revenue,not_allocated_by_gender/sport_revenue,grand_total_revenue,men's_team_athletic_student_aid,women's_team_athletic_student_aid,male_undergraduates,female_undergraduates,total_undergraduates
0,1,2016,University of Louisville,KY,NCAA Division I-FBS,NCAA,87066830,1723173,33655301,122445304,6249734,5907156,5925,6400,12325
1,2,2016,University of Kentucky,KY,NCAA Division I-FBS,NCAA,65217902,1626718,55447093,122307014,7119237,4874527,9420,11352,20772
2,3,2016,Indiana University-Bloomington,IN,NCAA Division I-FBS,NCAA,62767976,756377,41294985,104819338,8487821,7039065,16085,15799,31884

In [92]:
from sqlalchemy import create_engine

In [93]:
engine = create_engine('sqlite://', echo=False)

In [94]:
df1.to_sql("equity", con=engine)

In [96]:
engine.execute("SELECT * FROM equity").fetchall()

[(0, 1, 2016, 'University of Louisville', 'KY', 'NCAA Division I-FBS', 'NCAA', 87066830, 1723173, 33655301, 122445304, 6249734, 5907156, 5925, 6400, 12325),
 (1, 2, 2016, 'University of Kentucky', 'KY', 'NCAA Division I-FBS', 'NCAA', 65217902, 1626718, 55447093, 122307014, 7119237, 4874527, 9420, 11352, 20772),
 (2, 3, 2016, 'Indiana University-Bloomington', 'IN', 'NCAA Division I-FBS', 'NCAA', 62767976, 756377, 41294985, 104819338, 8487821, 7039065, 16085, 15799, 31884)]

In [97]:
engine.execute("SELECT institution_name FROM equity").fetchall()

[('University of Louisville',),
 ('University of Kentucky',),
 ('Indiana University-Bloomington',)]